## Harassment in the workplace -- Logistic regression to predict responses
#### Import packages

In [138]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

#### Load in data

In [139]:
df = pd.read_csv("fulldata.csv")
df.head()

,Unnamed: 0,CaseID,weight,WORK_1,WORK_2,WORK_3,WORK_4,EMPLOYED,FULLPART,SELFEMPLOYED,...,SCICOUR2_t,MATHCOUR2_t,PPT017_t,PPT18OV_t,PPHHSIZE_t,EDUC4CAT,RACE_col,RECONA_col,RECONB_col,RECONC_col
0,1,3,0.0707,1,2,2,2,1,1,2,...,1.0,1.0,0,1,1,3,1,1.0,NaN,NaN
1,2,4,0.3938,1,2,2,2,1,1,2,...,12.0,8.0,2,2,4,4,1,NaN,NaN,2.0
2,3,5,1.7321,2,1,2,2,1,2,2,...,98.0,98.0,0,2,2,3,3,NaN,NaN,NaN
3,4,6,0.1478,1,2,2,1,1,1,1,...,15.0,6.0,0,2,2,4,1,NaN,NaN,NaN
4,5,7,1.5842,2,2,2,1,1,2,1,...,3.0,3.0,0,2,2,4,3,NaN,NaN,NaN

#### Get subset of data frame with relevant predictors, response, and non-missing rows

In [140]:
sub=df[["HARASS2","PPT017_t","HH_INCOME_col","IDEO","TECH3","TECH6"]]
sub=sub.dropna()

#### Find testing accuracy of nominal logistic model, run through 50 iterations

In [134]:
accs=[]
for i in range(0,50):

    msk = np.random.rand(len(sub)) < 0.8
    train = sub[msk]
    test = sub[~msk]

    X1=train.drop("HARASS2",axis=1).values
    X1=StandardScaler().fit_transform(X1)
    y1=np.array(train[["HARASS2"]].values)

    X2=test.drop("HARASS2",axis=1).values
    X2=StandardScaler().fit_transform(X2)
    y2=np.array(test[["HARASS2"]].values)

    clf=LogisticRegression(random_state=100).fit(X1,y1.ravel())
    accs.append(clf.score(X2,y2))

#### Misclassification rate

In [137]:
mcr=1-np.array(accs).mean()
mcr

0.4659730851154983